html, body{margin:0;padding:0;}
.chat-plugin{
    margin: 0 auto;
    width: 50%;
    max-width: 1300px;
    margin-top: 25px;
    height: 800px;
    background: white !important;
}

 .vjs-chat{
    position: relative; 
    height: 300px;
    background: linear-gradient(to top, rgb(241, 70, 2),rgb(0, 0, 0));
}

.vjs-chat_button-container{
    color: rgb(241, 70, 2);
    text-align: center;
    background: black;
    right: 5%;
    width: 20%;
    border-radius: 0px 10px 10px 0;
    font-size: 120%;
    min-width: 49px;
}

.vjs-chat_input{
    width: 70%;
    left: 5%;
    margin-left: 0;
    border-radius: 10px 0px 0 10px;
    overflow: auto;
}

.vjs-chat_button-container,.vjs-chat_input{
    position: absolute;
    height: 24px;
    bottom: 20px;
}

.vjs-chat_messages-container{
    position: absolute;
    margin-top: 20px;
    margin-left: 5%;
    background: white;
    width: 90%;
    height: 210px;
    color: black;
    overflow: auto;
}

.vjs-chat_pMessage{
   margin-left: 15px;
}

.vjs-chat_button{
    margin: 0 auto;
    margin-top: 5px;
}
