html, body {
    margin:0;padding:0;
}

.chat-plugin {
    margin: 0 auto;
    width: 50%;
    max-width: 1300px;
    margin-top: 25px;
    height: 800px;
    background: white !important;
}

.vjs-chat {
    position: relative;
    height: 300px;
    background: linear-gradient(to top, rgb(241, 70, 2),rgb(0, 0, 0));
}

.vjs-chat__button-container {
    right: 5%;
    width: 20%;
    text-align: center;
    font-size: 120%;
    min-width: 49px;
    background: black;
    color: rgb(241, 70, 2);
    border-radius: 0px 10px 10px 0;
}

.vjs-chat__button {
    margin: 0 auto;
    margin-top: 5px;
}

.vjs-chat__input {
    width: 70%;
    left: 5%;
    margin-left: 0;
    border-radius: 10px 0px 0 10px;
    overflow: auto;
}

.vjs-chat__button-container, .vjs-chat__input {
    position: absolute;
    height: 24px;
    bottom: 20px;
}

.vjs-chat__messages-container {
    position: absolute;
    margin-top: 20px;
    margin-left: 5%;
    background: white;
    width: 90%;
    height: 210px;
    color: black;
    overflow: auto;
}

.vjs-chat__message-p {
    margin-left: 15px;
}
